/* Déclaration des variables de couleurs et polices */
:root {
    /* Couleurs principales */
    --void-color: #B283CC;
    --solar-color: #F16F27;
    --arc-color: #7AECF3;
    --stasis-color: #4D87FF;
    --strand-color: #35E366;
    --primary-color: #FFFFFF;
    --special-color: #7AF48B;
    --heavy-color: #B286FF;
    --exotic-label-color: #B09C4F;
    --legendary-label-color: #644D71;
    --mod-fg-color: #0AF3F3;
    --yellow-color: #F3CF55;

    /* Polices */
    --font-class-ammo-activity: 'Destiny2Class-ammo-activity', sans-serif;
    --font-d2symbols: 'Destiny2Symbols', sans-serif;
}

/* Police personnalisée */
@font-face {
    font-family: 'Destiny2Class-ammo-activity';
    src: url('../fonts/Destiny2Class-ammo-activity.ttf') format('truetype');
}

@font-face {
    font-family: 'Destiny2Symbols';
    src: url('../fonts/destiny_symbols_common.otf') format('truetype');
}

/* Font-family par défaut pour Destiny2Class-ammo */
.primary::before,
.special::before,
.heavy::before,
.hunter::before,
.titan::before,
.warlock::before,
.pve::before,
.pvp::before {
    font-family: var(--font-class-ammo-activity);
}

/* Font-family par défaut pour Destiny2Symbols */
.void::before,
.solar::before,
.arc::before,
.stasis::before,
.strand::before,
.barrier::before,
.unstoppable::before,
.overload::before {
    font-family: var(--font-d2symbols);
}

/* Classe Primary */
.primary::before {
    content: '\0044'; /* Icône primaire */
    color: var(--primary-color);
    vertical-align: -3px;
}

/* Classe Special */
.special::before {
    content: '\0045'; /* Icône spéciale */
    color: var(--special-color);
    vertical-align: -3px;
}

/* Classe Heavy */
.heavy::before {
    content: '\0046'; /* Icône heavy */
    color: var(--heavy-color);
    vertical-align: -3px;
}

/* Classe Void */
.void::before {
    content: '\E144'; /* Unicode corrigé */
    color: var(--void-color);
}

/* Classe PVE */
.pve::before {
    content: "\0048";
    color: #6A8DFF; /* bleu clair plus vif */
    text-shadow: 0 0 5px #6A8DFF;
    vertical-align: -5px;
    font-size: 20px;
}

/* Classe PVP */
.pvp::before {
    content: "\004a";
    color: #FF5E57; /* rouge clair vif */
    text-shadow: 0 0 5px #FF5E57;
    vertical-align: -5px;
    font-size: 20px;
}


/* Classe Solar */
.solar::before {
    content: '\E140'; /* Unicode pour Solar */
    color: var(--solar-color);
}

/* Classe Arc */
.arc::before {
    content: '\E143'; /* Unicode pour Arc */
    color: var(--arc-color);
}

/* Classe Stasis */
.stasis::before {
    content: '\E139'; /* Unicode pour Stasis */
    color: var(--stasis-color);
}

/* Classe Strand */
.strand::before {
    content: '\EF0E'; /* Unicode pour Strand */
    color: var(--strand-color);
}

/* Classe Barrier */
.barrier::before {
    content: '\E070'; /* Unicode pour Barrier */
    color: var(--mod-fg-color);
    font-size: 20px;
}

/* Classe Unstoppable */
.unstoppable::before {
    content: '\E072'; /* Unicode pour Unstoppable */
    color: var(--mod-fg-color);
    vertical-align: -2px;
    font-size: 20px;
}

/* Classe Overload */
.overload::before {
    content: '\E071'; /* Unicode pour Overload */
    color: var(--mod-fg-color);
    vertical-align: -2px;
    font-size: 20px;
}

/* Classe Hunter */
.hunter::before {
    content: '\0041'; /* Hunter */
    color: White;
}

/* Classe Titan */
.titan::before {
    content: '\0042'; /* Titan */
    color: White;
}

/* Classe Warlock */
.warlock::before {
    content: '\0043'; /* Warlock */
    color: White;
}

/* Classe Bold */
.bold {
    font-weight: bold;
}

/* Classe Title */
.title {
    font-weight: bold;
}

/* Classe Enhanced Arrow */
.enhancedArrow {
    color: var(--yellow-color);
    font-size: 20px;
}

/* Classe Green */
.green {
    color: var(--special-color);
}

/* Classe Yellow */
.yellow {
    color: var(--exotic-label-color);
}
